{% extends "auctions/layout.html" %}
{% block title %}
Active Listings
{% endblock%}
{% block body %}
{% if messages %}
<ul class="alert alert-info">
    {% for message in messages %}
    <li  {% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
    <h2 class="text-center title">Active Listings</h2>
    <div class="container d-flex flex-wrap justify-content-center">
        
        {% for listing in active %}
            <div class="card m-2 border-bottom" style="width: 20rem;">
                <a href="{% url 'listing' listing.id %}" class="text-decoration-none text-dark">  
                    <img class="card-img-top" src="{% if listing.url_image %}{{ listing.url_image }}{% else %}https://upload.wikimedia.org/wikipedia/commons/2/2f/No-photo-m.png{% endif %}" alt="Photo of {{ listing.title }}">
                    <div class="card-body border-top">
                        <h5 class="card-title text-truncate">Title: {{ listing.title }}</h5>
                        <h5 class="card-title text-truncate">Created By: {{ listing.name_user }}</h5>
                        <h5 class="card-title text-truncate">date: {{ listing.date }}</h5>
                        <div class="d-flex justify-content-between">
                            <h5 class="card-text p-2"><strong>Price: ${{ listing.max_bid }}</strong></h5>
                            <span class="p-2">{{listing.count_bid}} Bids</span>
                        </div>
                        <p class="card-text text-truncate"><small>Description: {{ listing.description }}</small></p>
                    </div>
                </a>
            </div>
        {% empty %}
            No active listings
        {% endfor %}
        
    </div>
{% endblock %}